@font-face {
    font-family: 'Saiyan-Sans';
    src: url(../fonts/Saiyan-Sans.ttf) format('TrueType')
}

@font-face {
    font-family: 'play-on';
    src: url(../fonts/Playon-reg.ttf) format('TrueType');
}
/* --------------reset--------------------------- */

body{
    background-image: url(../imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1300px;
    background-position: center center;
}

/* ---------------------------- login -------------------------------- */
.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  .login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    top: 50px;
  }
  
  .login-header h1 {
    font-size:80px;
    font-family: 'saiyan-sans';
    background: -webkit-linear-gradient(#ff6060, #fff708);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 3px 2px rgb(17, 17, 17);
  }
  .login-header img{
    width: 500px;
  }
  
  .login__input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
  }
  
  .login__button {
    background: -webkit-linear-gradient(#e0e701,#9e0303);;
    border: 3px solid #fd512a;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    font-family: 'play-on';
  }
  .login__button:disabled {
    background: #eee;
    border: 2px solid #969595;
    color: #050505;
    cursor: auto;
    font-family: 'play-on';
    font-size: 30px;

  }